﻿@using Abp.Authorization.Users
@using Abp.MultiTenancy
@using applied.Test.Employees.Dto
@using applied.Test.Web.Models.Common.Modals

@model EmployeesDto
@{   
    Layout = null;
}

@* @section scripts
{ *@
    
@* } *@
<div class="modal fade" id="EmployeeCreateModal" tabindex="-1" role="dialog" aria-labelledby="EmployeeCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("CreateNewEmployee")))
            <form name="employeeCreateForm" role="form" class="form-horizontal" asp-action="saveEmployee" asp-controller="Employees">
                <div class="modal-body">
                    <div class="form-group row required">
                        <label class="col-md-3 col-form-label">@L("Name")</label>
                        <div class="col-md-9">
                            <input type="text" name="Name" class="form-control" required maxlength="@AbpTenantBase.MaxTenancyNameLength" minlength="2">
                        </div>
                    </div>
                    <div class="form-group row required">
                        <label class="col-md-3 col-form-label">@L("Description")</label>
                        <div class="col-md-9">
                            <input type="text" name="Description" class="form-control" required >
                        </div>
                    </div> 

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="CompanyId">@L("Company Name")</label>
                        <div class="col-md-9">
                            <select id="CompanyId" name="CompanyId" class="form-control" required>
                                @* <option value="">Select a company</option> *@
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="CreateTenantIsActive">@L("IsActive")</label>
                        <div class="col-md-9">
                            <input id="CreateEmployeesIsActive" type="checkbox" name="IsActived" value="true" checked />
                        </div>
                    </div>                   
                </div>
                @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
            </form>
        </div>
    </div>
</div>

@* <script>
    (function ($) {
        $(document).on("shown.bs.modal", "#EmployeeCreateModal", function () {

            var testUrl = '/Company/GetAllCompanies';
            $.get(testUrl).done(function (testJson) {
                console.log(testJson)
            })

            $.ajax({
                url: '/Company/GetAllCompanies',
                type: 'GET',
                success: function (data) {
                    var tableData = data.result;

                    var select = $('#CompanyId');
                    $.each(tableData, function (i, company) {
                        select.append($('<option>', {
                            value: company.id,
                            text: company.name
                        }));
                    });
                },
                error: function () {
                    console.error('Failed to fetch companies');
                }
            });
        });
    });
</script> *@
