﻿@using applied.Test.Employees.Dto
@using applied.Test.Web.Models.Common.Modals
@model EmployeesDto
@{
    Layout = null;
}

@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditEmployee")))
<form name="EmployeeEditForm" role="form" class="form-horizontal" asp-action="UpdateEmployee" asp-controller="Employees">
    <div class="modal-body">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="employee-name">@L("ID")</label>
            <div class="col-md-9">
                <input id="employee-id" type="text" class="form-control" asp-for="Id" readonly>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="employee-name">@L("Name")</label>
            <div class="col-md-9">
                <input id="employee-name" type="text" class="form-control" asp-for="Name"  required maxlength="64" minlength="2">
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="name">@L("Description")</label>
            <div class="col-md-9">
                <input id="description" type="text" class="form-control" asp-for="Description" required maxlength="128">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="isactived">@L("IsActived")</label>
            <div class="col-md-9">
                <input id="isactived" type="checkbox" asp-for="IsActived" />
            </div>
        </div>
        
    </div>
    @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
</form>
  

@* <script src="~/view-resources/Views/Employees/_EditModal.js" asp-append-version="true"></script> *@
