﻿@using Abp.Authorization.Users
@using Abp.MultiTenancy
@using applied.Test.Company
@using applied.Test.Web.Models.Common.Modals
@{
    Layout = null;
}

<div class="modal fade" id="CompanyCreateModal" tabindex="-1" role="dialog" aria-labelledby="CompanyCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("CreateNewCompany")))
            <form name="companyCreateForm" role="form" class="form-horizontal" asp-action="saveCompany" asp-controller="Company">
                <div class="modal-body">
                    <div class="form-group row required">
                        <label class="col-md-3 col-form-label">@L("Company Name")</label>
                        <div class="col-md-9">
                            <input type="text" name="Name" class="form-control" required maxlength="@AbpTenantBase.MaxTenancyNameLength" minlength="2">
                        </div>
                    </div>
                    <div class="form-group row required">
                        <label class="col-md-3 col-form-label">@L("Description")</label>
                        <div class="col-md-9">
                            <input type="text" name="Description" class="form-control" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="CreateTenantIsActive">@L("IsActive")</label>
                        <div class="col-md-9">
                            <input id="CreateTenantIsActive" type="checkbox" name="IsActived" value="true" checked />
                        </div>
                    </div>
                </div>
                @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
            </form>
        </div>
    </div>
</div>
