﻿@using applied.Test.Web.Startup
@{
    ViewBag.Title = L("Company");
    ViewBag.CurrentPageName = PageNames.Company;
}
@section scripts
{

    <environment names="Development">
        <script src="~/view-resources/Views/Company/Index.js" asp-append-version="true"></script>

    </environment>

    <script src="https://unpkg.com/sweetalert@2.1.2/dist/sweetalert.min.js"></script>

    @*  <environment names="Staging,Production">
        <script src="~/view-resources/Views/Employees/Index.min.js" asp-append-version="true"></script>
    </environment> *@
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>Company</h1>
            </div>
            <div class="col-sm-6">
                <a href="javascript:;" data-toggle="modal" data-target="#CompanyCreateModal" class="btn bg-blue float-sm-right">
                    <i class="fa fa-plus-square"></i>
                    @L("Create")
                </a>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <!--Use for bulk actions-->
                            </div>
                            <div class="col-md-6">
                                @await Html.PartialAsync("~/Views/Company/Index.AdvancedSearch.cshtml")
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="CompanyTable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>@L("ID")</th>
                                        <th>@L("Name")</th>
                                        <th>@L("Description")</th>
                                        <th>@L("IsActived")</th>
                                        <th style="width: 150px">@L("Actions")</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@await Html.PartialAsync("~/Views/Company/_CreateModal.cshtml")

<div class="modal fade" id="CompanyEditModal" tabindex="-1" role="dialog" aria-labelledby="CompanyEditModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>